/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Colors */
.color_grey {
  background-color: #e5e5e5;
}

.color_dark_red {
  color: #8e5656;
}

.color_brighter_red {
  color: #b27070;
}

.color_darker_grey {
  background-color: #abacab;
}

/* Main Container */

.main-container {
  margin: auto;
  max-width: 38rem;
  flex-grow: 2;
  margin-top: 20px;
  margin-bottom: 30px;
}


/* Header */

.title {
  background-color: #ffff;
  font-size: 2.1vw;
  padding: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

